<div class="contenedor_forms">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1>Editing Artistum</h1>

<%= render 'form', artistum: @artistum %>

<%= link_to 'Show', @artistum %> |
<%= link_to 'Back', artista_path %>
</div>