
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<h1 style="color: white;">Nuevx artistx</h1>
</head>
<body>

<%= render 'form', artistum: @artistum, class: 'texto_sobrenos'%>

<%= link_to 'Back', artista_path %>

</body>
</html>