
<!DOCTYPE html>
<html>
<head>
	<div class="contenedor_forms">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title></title>
	<h1 style="color: white;">Nuevx artistx</h1>
</head>
<body>

<%= render 'form', artistum: @artistum, class: 'texto_sobrenos'%>

<%= link_to 'Back', artista_path %>
</div>
</body>
</html>