<div class="contenedor_forms">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Editing Exposicion</h1>

<%= render 'form', exposicion: @exposicion %>

<%= link_to 'Show', @exposicion %> |
<%= link_to 'Back', exposicions_path %>
</div>
