<p id="notice"><%= notice %></p>
<div class="boton_atras">
				<%=link_to (image_tag 'fotos/flecha_atras.png',style:"height:50px"), pagina_inicio_path %>
			</div>
<div class="recuadro_muestras">
    	<% @exposicions.each do |exposicion| %>
      	<%= link_to exposicion.titulo_expo, exposicion_path(exposicion.id), :class => "muestras"%>
    <p> <%=if user_signed_in?
    			link_to 'Destroy', exposicion, method: :destroy, data: { confirm: 'Are you sure?' }
    			end%>
    		</p>
    		
    	<% end %>
</div>
