
<div class="boton_atras">
				<%= link_to 'Atrás', pagina_inicio_path %>
</div>
<div style="color:white;">
	<div class = "header_contacto" style="font-weight: bold;">
		<p>CONTACTO</p>
	</div>
	<div class="cuerpo_contacto" style="font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;">
		<p>Email<br>
		<p style="font-style: italic; font-weight: lighter;">espacioconstitucion@gmail.com</p>
		<p>Telefonos<br>
		<p style="font-style: italic; font-weight: lighter;">
			+54 9 11 3865-6162<br>
			+54 9 11 6937-8901</p>
	</div>
</div>