
<head>
	<header>
		<div class="boton_atras">
				<%=link_to (image_tag 'fotos/flecha_atras.png',style:"height:50px"), pagina_inicio_path %>
			</div>
	</header>
</head>
<body>
	<div class="caja_contacto" style="color:white;font-family: 'Raleway', sans-serif; size: 15px;">
		<div class="cuerpo_contacto">
			<p class="cuerpo_contacto" ">San Cristobal,<br>
			Buenos Aires<br>
			Argentina.<br>
			&nbsp
			<p class="cuerpo_contacto">espacioconstitucion@gmail.com</p>
			
			<p class="cuerpo_contacto">+54 9 11 3865-6162<br>
			+54 9 11 6937-8901<br></p>
			&nbsp
			HORARIOS:<br>
				Jueves y Viernes 17-20hs.<br> 
				o con cita previa.
			</p>
		</div>
	</div>
</body>