<header>
	<div class="boton_atras">
				<%= link_to 'Atrás', pagina_inicio_path %>
			</div>
</header>
	<div class= "contenedor_sobrenosotros">
		<p class = "texto_contenedor_sobrenos">Constitución Galería es un proyecto de los artistas argentinos Alberto Antonio Romero y Martín Fernández, iniciado en noviembre de 2017. Un espacio en el barrio de San Cristóbal, un sótano en una esquina del sur de la ciudad. Nos enfocamos en generar puntos de contacto entre artistas jóvenes y el campo del arte contemporáneo. Habilitar el ensayo, la experimentación y exhibición en distintas prácticas y formatos. En ese contexto nos interesa producir cruces de gestión y exhibición con otras instituciones, que propicien plataformas para pensar nuestras prácticas y exponerlas a diferentes condiciones de producción.
		</p><br>
		<p class = "texto_contenedor_sobrenos">
		Constitución forma parte de Casa Traxion, proyecto dirigido por Eugenia Tobal. 
		</p><br>
			<%= image_tag 'fotos/constitucion_N---copia_1024.jpg',style:"height:722px";%>
	</div>
