<header>
	<div class="boton_atras">
				<%=link_to (image_tag 'fotos/flecha_atras.png',style:"height:50px"), pagina_inicio_path %>
			</div>
</header>
<body>
	
	<div class= "contenedor_sobrenosotros">
		<p class = "texto_contenedor_sobrenos">Constitución Galería es un proyecto de los artistas argentinos Alberto Antonio Romero y Martín Fernández, iniciado en noviembre de 2017.
		 Nos enfocamos en generar puntos de contacto entre artistas jóvenes y el campo del arte contemporáneo. Habilitar el ensayo, la experimentación y exhibición en distintas prácticas y formatos. En ese contexto nos interesa producir cruces de gestión y exhibición con otras instituciones, que propicien plataformas para pensar nuestras prácticas y exponerlas a diferentes condiciones de producción.
		</p>
	</div>
	<div class="foto_frenteconsti">
			<%= image_tag 'fotos/entradaconsti.jpg'%>
	</div>
	<div class="letra_consti">
			<%= image_tag 'fotos/c_consti.png',style:"width:400px;"%>
	</div>
	<div class="caja_contacto fadeinlargo" style="color:white;font-family: 'Raleway', sans-serif; size: 15px;">
		<div class="cuerpo_contacto">
			Del valle Iberlucea 1140,<br> 
			La Boca<br>
			Buenos Aires<br>
			Argentina.<br>
			&nbsp
			espacioconstitucion@gmail.com<br>
			&nbsp
			<p style="color:white;font-family: 'Raleway', sans-serif; size: 15px;">+54 9 11 3865-6162<br>
			+54 9 11 6937-8901</p><br>
			&nbsp
			HORARIOS:<br>
				Jueves y Viernes 17-20hs.<br> 
				o con cita previa.<br>
				<p>
				<a href="http://www.instagram.com/_constitucion_/" target="_blank" rel="nofollow">INSTAGRAM</a>|<a href="http://www.facebook.com/constitucionespacio/" target="_blank" rel="nofollow">FACEBOOK</a>	
				</p>
			</p>
		</div>
	</div>
</body>
