/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .contenedor_forms {
    padding-left: 50px;
    padding-top: 40px;
    color: white;
 }
 .letra_consti {
    position: absolute;
    float: left;
    z-index: 3;
    padding-left: 80px;
    padding-top: 300px;
 }
 .contenedor_sobrenosotros {
    position: absolute;
    z-index: 2;
    float: left;
    width: 50%;
    color:white;
    padding-left: 60px;

}
.foto_frenteconsti {
    float: right;
    width: 400px;
    position: absolute;
    z-index: 1;
    padding-left: 170px;
}

#footer {
    clear: both;
    height: 60px;
    width: 100%;
    float: right;
    text-align: right;
    color: white;
    padding-top: 230px;
    padding-bottom: 40px;
    padding-right: 40px;
}
.visordeimagenes{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.visordeimagenes_expo{
    
}

.caja_contacto{
    float: left;
    width: 50%;
    padding: 35px;
    background-color: rgba(86, 86, 86, 0.5)
}
 .header_contacto{
    display: grid;
    grid-template-columns: 50%,50%;
    grid-template-areas: "vacio atras"
 }

 .atras{
    grid-area: atras;
    text-align: right;
 }

 .column {
  float: left;
  width: 25%;
  padding: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.contenedor_muestras{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 25px;
    padding-left: 30px;
 }

 .contenedor_textosala{
    flex: left;
    width: 50%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 13px;
    padding-left: 30px;
 }
.cuerpo_contacto{
  font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
}
.header_contacto{
    text-align: right;
}

.boton_atras{
    text-align: right;   
}
 .header_artista{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
 }

 .cuerpo_artistxs{
    color: #fff;
    flex: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    text-align: justify;
    width: 70%;
    padding-right: 60px;
    padding-left: 30px;
 }
 
.field{
    color:white;
}

 /* unvisited link */
a.links_artistxs:link {
    color: white;
}

/* visited link */
a.links_artistxs:visited {
    color: white;
}

/* mouse over link */
a.links_artistxs:hover {
    color: white;
    font-size: 17px;
 background: none;
}

/* selected link */
a.links_artistxs:active {
    color: white;
}
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    font-size: 29px;
 background: none;
}

/* selected link */
a:active {
    color: white;
}
 a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #fff;
 }
 .fadeinlargo{
animation: fadein 2s;
 }

 .fadeoutlargo{
animation: fadeout 2s;
 }
 @keyframes fadeinlargo{
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes fadeoutlargo{
    from {opacity:1;}
    to {opacity:0;}
}

 .fadein{
animation: fadein 1s;
 }

 .fadeout{
animation: fadeout 1s;
 }
@keyframes fadein{
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes fadeout{
    from {opacity:1;}
    to {opacity:0;}
}
.texto_muestras{
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Merriwheather', serif;
    font-weight: lighter;
    font-size: 20px;
}
.recuadro_muestras{
    float: left;
    width: 50%;
    border: 1px;
    border-style: solid;
    padding: 10px;
    font-size:20px;
    text-align: right;
    width: auto;
    text-decoration: none;
}
.muestras{
    font-size:20px;
    text-align: center;
    width: auto;
    text-decoration: none;
}
.muestras:hover {
    font-size:21px;
    color:grey;
    text-align: center;
    width: auto;
    text-decoration: none;

}
.texto_sobrenos {
    font-size: 27px;
    color:#FFFFFF;
    text-decoration: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.texto_artistxs {
    font-size: 27px;
    color:white;
    text-decoration: none;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-shadow: 3px 1px 17px rgba(0, 0, 0, 0.97);
}
.texto_muestras {
    font-size: 25px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;

}
.texto_contacto {
    font-size: 27px;
    color:white;
    text-decoration: none;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}
.texto_contenedor_sobrenos{

    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    text-align: justify;
}
.menuinicio {
    text-shadow: 3px 1px 17px rgba(0, 0, 0, 0.97);
    padding: 100px;
    float:left;
    text-align: right;
    font-weight: bold;
    width: 50%;
    height: auto;
    text-decoration: none;
    
}
.background {
background: url("http://api.thumbr.it/whitenoise-361x370.png?background=4f4605ff&noise=1c011c&density=93&opacity=37")
 /*background: rgb(2,0,36);
    background: -webkit-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(89,41,92,1) 0%, rgba(4,50,25,1) 29%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(89,41,92,1) 0%, rgba(4,50,25,1) 29%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(89,41,92,1) 0%, rgba(4,50,25,1) 29%, rgba(0,0,0,1) 100%);
*/
}
* {box-sizing: border-box}

/* Style the tab */
.tab {
    color: white;
    font-size: 20px;
    float: left;
    border: 1px solid #ccc;
    width: 30%;
    height: auto;
    text-decoration: none;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    text-shadow: 3px 1px 17px rgba(0, 0, 0, 0.97);
    font-family: sans-serif, helvetica;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    display: block;
    background-color: inherit;
    color: red;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: crosshair;
    transition: 0.3s;
}

